:root {
  --color-black-000: hsl(0, 0%, 0%);
  --color-black-005: hsl(0, 0%, 5%);
  --color-black-010: hsl(0, 0%, 10%);
  --color-black-015: hsl(0, 0%, 15%);
  --color-black-020: hsl(0, 0%, 20%);
  --color-black-025: hsl(0, 0%, 25%);
  --color-black-030: hsl(0, 0%, 30%);
  --color-black-035: hsl(0, 0%, 35%);
  --color-black-040: hsl(0, 0%, 40%);
  --color-black-045: hsl(0, 0%, 45%);
  --color-black-050: hsl(0, 0%, 50%);

  --color-white-000: hsl(0, 0%, 100%);
  --color-white-005: hsl(0, 0%, 95%);
  --color-white-010: hsl(0, 0%, 90%);
  --color-white-015: hsl(0, 0%, 85%);
  --color-white-020: hsl(0, 0%, 80%);
  --color-white-025: hsl(0, 0%, 75%);
  --color-white-030: hsl(0, 0%, 70%);
  --color-white-035: hsl(0, 0%, 65%);
  --color-white-040: hsl(0, 0%, 60%);
  --color-white-045: hsl(0, 0%, 55%);
  --color-white-050: hsl(0, 0%, 50%);

  --color-000-light: hsl(0, 100%, 75%, 1);
  --color-015-light: hsl(15, 100%, 75%, 1);
  --color-030-light: hsl(30, 100%, 75%, 1);
  --color-045-light: hsl(45, 100%, 75%, 1);
  --color-060-light: hsl(60, 100%, 75%, 1);
  --color-075-light: hsl(75, 100%, 75%, 1);
  --color-090-light: hsl(90, 100%, 75%, 1);
  --color-105-light: hsl(105, 100%, 75%, 1);
  --color-120-light: hsl(120, 100%, 75%, 1);
  --color-135-light: hsl(135, 100%, 75%, 1);
  --color-150-light: hsl(150, 100%, 75%, 1);
  --color-165-light: hsl(165, 100%, 75%, 1);
  --color-180-light: hsl(180, 100%, 75%, 1);
  --color-195-light: hsl(195, 100%, 75%, 1);
  --color-210-light: hsl(210, 100%, 75%, 1);
  --color-225-light: hsl(225, 100%, 75%, 1);
  --color-240-light: hsl(240, 100%, 75%, 1);
  --color-255-light: hsl(255, 100%, 75%, 1);
  --color-270-light: hsl(270, 100%, 75%, 1);
  --color-285-light: hsl(285, 100%, 75%, 1);
  --color-300-light: hsl(300, 100%, 75%, 1);
  --color-315-light: hsl(315, 100%, 75%, 1);
  --color-330-light: hsl(330, 100%, 75%, 1);
  --color-345-light: hsl(345, 100%, 75%, 1);

  --color-000-normal: hsl(0, 100%, 50%, 1);
  --color-015-normal: hsl(15, 100%, 50%, 1);
  --color-030-normal: hsl(30, 100%, 50%, 1);
  --color-045-normal: hsl(45, 100%, 50%, 1);
  --color-060-normal: hsl(60, 100%, 50%, 1);
  --color-075-normal: hsl(75, 100%, 50%, 1);
  --color-090-normal: hsl(90, 100%, 50%, 1);
  --color-105-normal: hsl(105, 100%, 50%, 1);
  --color-120-normal: hsl(120, 100%, 50%, 1);
  --color-135-normal: hsl(135, 100%, 50%, 1);
  --color-150-normal: hsl(150, 100%, 50%, 1);
  --color-165-normal: hsl(165, 100%, 50%, 1);
  --color-180-normal: hsl(180, 100%, 50%, 1);
  --color-195-normal: hsl(195, 100%, 50%, 1);
  --color-210-normal: hsl(210, 100%, 50%, 1);
  --color-225-normal: hsl(225, 100%, 50%, 1);
  --color-240-normal: hsl(240, 100%, 50%, 1);
  --color-255-normal: hsl(255, 100%, 50%, 1);
  --color-270-normal: hsl(270, 100%, 50%, 1);
  --color-285-normal: hsl(285, 100%, 50%, 1);
  --color-300-normal: hsl(300, 100%, 50%, 1);
  --color-315-normal: hsl(315, 100%, 50%, 1);
  --color-330-normal: hsl(330, 100%, 50%, 1);
  --color-345-normal: hsl(345, 100%, 50%, 1);

  --color-000-dark: hsl(0, 100%, 25%, 1);
  --color-015-dark: hsl(15, 100%, 25%, 1);
  --color-030-dark: hsl(30, 100%, 25%, 1);
  --color-045-dark: hsl(45, 100%, 25%, 1);
  --color-060-dark: hsl(60, 100%, 25%, 1);
  --color-075-dark: hsl(75, 100%, 25%, 1);
  --color-090-dark: hsl(90, 100%, 25%, 1);
  --color-105-dark: hsl(105, 100%, 25%, 1);
  --color-120-dark: hsl(120, 100%, 25%, 1);
  --color-135-dark: hsl(135, 100%, 25%, 1);
  --color-150-dark: hsl(150, 100%, 25%, 1);
  --color-165-dark: hsl(165, 100%, 25%, 1);
  --color-180-dark: hsl(180, 100%, 25%, 1);
  --color-195-dark: hsl(195, 100%, 25%, 1);
  --color-210-dark: hsl(210, 100%, 25%, 1);
  --color-225-dark: hsl(225, 100%, 25%, 1);
  --color-240-dark: hsl(240, 100%, 25%, 1);
  --color-255-dark: hsl(255, 100%, 25%, 1);
  --color-270-dark: hsl(270, 100%, 25%, 1);
  --color-285-dark: hsl(285, 100%, 25%, 1);
  --color-300-dark: hsl(300, 100%, 25%, 1);
  --color-315-dark: hsl(315, 100%, 25%, 1);
  --color-330-dark: hsl(330, 100%, 25%, 1);
  --color-345-dark: hsl(345, 100%, 25%, 1);
}
